@charset "UTF-8";
/* CSS Document */

html, body, div, span, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: .5;
	vertical-align: baseline;
	background: transparent;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

body {
    background-color: black;
    line-height:1;
    color: white;
	background-image:url(../images/wu-tang-clan-wallpaper-3.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	text-shadow: 2px 2px 4px #000000;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.6); !important;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
/*reset*/

h1 {
	font-size: 6em;
	font-family: 'Shojumaru', cursive;
	font-weight: normal;
}

.ui-widget-header {
    background-image: none; !important;
    background-color: silver important; 
}

label{
  display: inline;
  text-align: left;
}  

h3, #next {
  text-align: center;
  display: inline-block;
  border-radius: 10%;
}

#result {
	font-family: 'Press Start 2P', 'Shojumaru', cursive;
!important;
	font-weight: bold;
	font-size: 2.4em;
	color: white;
	bottom: 10%;
}

input[name="option"] {
  float:left;
  
}

#form div{
  margin:auto;
  max-width: 205px;
}

#container {
  text-align: center;
}

input, select {
    vertical-align:middle;
}

.button {
    display: inline-block;
    padding: 1em;
    background-color: white;
    text-decoration: none !important; 
    color: white important;
	background-color: #fedb32;
} 
body{
  text-align: center;
}
.button {
	color: white;
	margin-top: 50px;
	text-shadow: none;
}
#protect {
	margin-top: 20px;
	height: auto;
	width: 80px;
	position:;
	margin-left: auto;
	margin-right: auto;
}